rtl/top/Xilinx/NexysVideo/synth
rtl/top/Xilinx/NexysVideo/*.log
rtl/top/Xilinx/NexysVideo/*.jou
rtl/top/Xilinx/CmodA7/synth
rtl/top/Xilinx/CmodA7/*.log
rtl/top/Xilinx/CmodA7/*.jou
rtl/top/Verilator/obj_dir
*.user
build-*
unittest/obj_dir
.DS_Store
build/
lib/driver/ft60x/ftd3xx/osx/
lib/driver/ft60x/ftd3xx/win/