rtl/top/Xilinx/NexysVideo/synth
rtl/top/Xilinx/NexysVideo/.hbs
rtl/top/Xilinx/NexysVideo/.Xil
rtl/top/Xilinx/NexysVideo/ip
rtl/top/Xilinx/NexysVideo/.srcs
rtl/top/Xilinx/NexysVideo/*.log
rtl/top/Xilinx/NexysVideo/*.jou
rtl/top/Xilinx/NexysVideo/*.bxml
rtl/top/Xilinx/NexysVideo/hdl
rtl/top/Xilinx/NexysVideo/hw_handoff
rtl/top/Xilinx/NexysVideo/ipshared
rtl/top/Xilinx/NexysVideo/sim
rtl/top/Xilinx/NexysVideo/*.bit
rtl/top/Xilinx/NexysVideo/usage_statistics_webtalk.*
design_1_ooc.xdc
rtl/top/Verilator/obj_dir
*.user
build-*
unittest/obj_dir
.DS_Store
build/