# PMOD A (MCU)
set_io resetn_in 46 
set_io serial_mosi 2
set_io serial_sck 4 
set_io serial_cs 48 
set_io serial_cts 44 
set_io serial_tft_mux 3 
set_io tft_cs 45 
set_io tft_dc 47 

# PMOD B (Display)
set_io display_sck 43 
set_io display_mosi 38 
set_io display_reset 36 
set_io display_dc 32 
set_io display_cs 42 
